/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/






@keyframes movementTriangleHorizon {
  0% {
    left: -18px;
  }

  100% {
    left: -14px;
  }
}


@keyframes slideBgFromLeft {
  0% {
    scale: 0 1;
  }

  100% {
    scale: 1 1;
  }
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.card__icon-button:hover .core {
  fill: var(--main-color);
  transition: fill 0.3s linear;
}


.main-body {
  transition: fill 0.3s 0s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--main-color);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .main-body {
  fill: var(--color-zaliv);
  transition: fill 0.3s 0.05s linear;

}

.card__icon-button:active .core {
  fill: var(--color-zaliv);
}

.like-icon.is-liked .core {
  fill: var(--color-zaliv);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--color-zaliv);
  transition: fill 0.3s linear;
}


.like-icon.is-liked .contour {
  fill: var(--color-zaliv);
  transition: fill 0.3s 0.06 linear;
}

.like-icon.is-liked .heart {
  animation: sizeBigger 0.3s 0.1s ease-in 1 alternate;

  transform-origin: center;
}

@keyframes sizeBigger {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.like-icon.is-liked .sparks {
  animation: appearSparks 0.3s 0.3s ease-in 1 alternate;
  /*???? ease-in */
  transform-origin: 50%;
}

@keyframes appearSparks {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.contour {
  fill: var(--main-color);
  transition: fill 0.1s linear;
}
