/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font),sans-serif;
  font-variation-settings: 'wght' var(--font-main-weight);
  background-image: var(--fon);
  background-attachment: fixed;
  background-size: cover;
} 

.header {
  
  
  background-color: #ffffff;
  margin-block-start: 100px;
  padding: 130px 122.5px;
  border: 2px solid #000;
  margin-block-end: 98px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
margin-left: auto;
margin-right: auto;
width: clamp(375px, 100%, 700px);
}

.logo {
  font-weight: 400;
font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem); /* 65px узнать как пользоваться!!  clamp(2.722rem, 2.409rem + 1.502vi, 3.611rem);   */
text-transform: uppercase;
color: var(--main-color, #000);
font-family: var(--accent-font), sans-serif;
text-decoration: none;
text-align: center;

}

.main-tittle {
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
text-transform: uppercase;
color: var(--main-color, #000);
text-align: center;
}


.cards {

display: flex;
flex-direction: column;
gap: 50px;
}



.card {
  background-color: var(--background-color, #fff);
  border: 2px solid #000;

}

.card-title {
background-color: var(--background-color, #fff);
font-weight: 715;
font-size: 18px;
color: var(--main-color, #000);
font-family: var(--main-font),sans-serif;
font-style: normal;
font-variation-settings: 'wght' var(--font-title-weight);
line-height: normal;
padding: 4px 10px 6px 10px;
border: 2px solid var(--main-color, #000);
}


.card-image {
 object-fit: cover;
 height: 100%;
 width: 100%;
 object-position: right;
 mix-blend-mode: hard-light;
 aspect-ratio: 1/1;
}

.card-image-start {
filter: brightness(200%);
}

.card-image-first-sprint {
  filter: contrast(20%);
}

.card-image-first-sprint-two {
  filter: blur(3.2rem);
}

.card-image-second-sprint {
  filter: opacity(0.8);
}

.card-image-second-sprint-two {
  filter: grayscale(0.8);
}

.card-image-third-sprint {
   filter: saturate(158%);
}

.card-image-third-sprint-two {
  filter: sepia(80%);
}

.card-image-now {
   filter: invert(0.7) sepia(1) contrast(2) brightness(200%);;
}


.box-image {
  position: relative;
  display: grid;
  width: 100%;
  border: 2px solid var(--main-color);
  border-top: none;
  background-color: #fff;

}

.label {
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  right: 25px;
  top: 19px;
  text-shadow: 0 0 1px var(--background-color);
  

}

@supports((text-stroke: var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .label {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}




.card-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
font-family: var(--main-font),sans-serif;
font-style: normal;
font-variation-settings: 'wght' var(--font-main-weight);
font-size: 18px;
line-height: 117%;
color: var(--main-color, #000);
padding: 25px;
}




.buttons {
  align-self: flex-end;
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
}

.button {
 color: var(--main-color);
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
} 





.card__like-button {
  background-color: var(--background-color);
  height: 36px;
  cursor: pointer;
  padding: 0;
  min-width: 130px;
  min-height: 38px;
}

.button__text {
font-family: var(--accent-font), sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 90%;
color: var(--stroke-color, #fff);
mix-blend-mode: difference;


position: relative;
  z-index: 2;
}





.save-icon {
  
  mix-blend-mode: difference;
   position: relative;
  z-index: 2;
}



.footer {
  padding: 52px 182.5px 100px;
}

.button_save {
  min-width: 335px;
  min-height: 55px;
}


.dialog-save {
  position: fixed;
  inset: 0;
  margin: auto;
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  padding: 0;
}

.form-dialog {
  display: grid;
  padding: 30px 40px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "icon text"
    "butt butt";
  gap: 30px 20px;
}

.dialog-save:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog-save .save-icon {
  grid-area: icon;
  width: 21px;
  height: 21px;
}

.dialog-save .button {
  grid-area: butt;
  color: var(--button-text-color);
  /* mix-blend-mode: difference; */
  padding: 9px 17px;
  text-transform: uppercase;
}

.doalog-text {
  color: var(--main-color);

  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
  text-transform: uppercase;
  grid-area: text;
  max-width: 234px;
}

.dialog-save::backdrop {
  opacity: 0.75;
  background: #000;
}

.card__icon-button {
  border: none;
  background-color: var(--background-color);
  transition: 0.3s ease;
  width: 38PX;
  height: 38PX;
}

.like-icon {
  position: relative;
  left: -5px;   /* возможно тут нужно как-то подругому выровнить свн внутри кнопки*/
}

.button:focus, .card__icon-button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--main-color);
  transition: 0.3s ease;
}



.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
  transition: 0.3s ease;
}


.button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  transform-origin: 0 0;
  transition: 0.5s ease-in-out;
  transform: scale(0,1);
}

.button:hover::before {
  transform: scale(1,1);
  transition: 0.5s ease-in-out;
}

.button:hover {
  color: var(--background-color);
  border: 2px solid var(--main-color);
}


@media (width <= 375px) {


  .header {
    padding: 122px 16px;
  }

    .button_save {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 306px;
    min-height: 84px;
    justify-content: center;
    align-items: center;
  }

  
  .save-icon {
    width: 28px;
    height: 28px;
  }

  
}


/* СТИИЛИ ДЛЯ РЕАЛИЗАЦИИ анимации КНОПКИ с сердечком*/


.sparks {
  opacity: 0;
}


.contour {
  fill: var(--main-color);
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.card__icon-button:hover .core {
  fill: var(--main-color);
  transition: fill 0.3s linear;
}


.main-body {
  transition: fill 0.3s 0s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--main-color);
  transition: fill 0.3s 0.05s linear;
}



.card__icon-button:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;

}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}


.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06 linear;
}

.like-icon.is-liked .heart {
  animation: sizeBigger 0.3s 0.1s ease-in 1 alternate;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: appearSparks 0.3s 0.3s ease-in 1 alternate;
  transform-origin: 50%;
}




