/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'Inter-Variable'),sans-serif;
  font-variation-settings: 'wght' var(--font-main-weight, 410);
  background-image: var(--fon, repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px), 
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%,#1a1a1a));
  background-attachment: fixed;
  background-size: cover;
} 

.header {
  background-color: #ffffff;
  margin-block-start: 100px;
  padding: clamp(122px, -1.11px + 5.63vw, 130px) clamp(16px, -1.11px + 5.63vw, 122.5px);
  border: 2px solid #000;
  margin-block-end: 98px;
  display: flex;
  flex-direction: column; 
  gap: 20px;
}

.content {
margin-left: auto;
margin-right: auto;
max-inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);  /*  clamp(23.438rem, 30.141vw + 16.373rem, 43.5rem) clamp(20rem, 30.323vw + 16.21rem, 43.5rem) - у меня почему-то по другому получилось в калькуляторе clamp(371px, var(--breakpoint-simulation) * 1000, 696px)   clamp(375px, 100vw, 700px) */
min-inline-size: 375px;
}

.logo {
font-weight: 400;
font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem); /* 65px узнать как пользоваться!!  clamp(2.722rem, 2.409rem + 1.502vi, 3.611rem);   */
text-transform: uppercase;
color: var(--main-color, #000);
font-family: var(--accent-font, 'PressStar2P'), sans-serif;
text-decoration: none;
text-align: center;

}

.main-tittle {
  font-family: var(--accent-font,'PressStar2P'), sans-serif;
  font-weight: 400;
font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);   
text-transform: uppercase;
color: var(--main-color, #000);
text-align: center;
}


.cards {
display: flex;
flex-direction: column;
gap: 50px;
}



.card {
  background-color: var(--background-color, #fff);
  border: 2px solid #000;

}

.card-title {
background-color: var(--background-color, #fff);
font-weight: 715;
font-size: 18px;
color: var(--main-color, #000);
font-family: var(--main-font,'Inter-Variable'),sans-serif;
font-style: normal;
font-variation-settings: 'wght' var(--font-title-weight, 715);
line-height: normal;
padding: 4px 10px 6px 10px;
border-bottom: 2px solid var(--main-color, #000);
}


.card-image {
 object-fit: cover;
 height: 100%;
 width: 100%;
 object-position: right;
 mix-blend-mode: hard-light;
 aspect-ratio: 1/1;
}

.card-image-filter-brightness {
filter: brightness(200%);
}

.card-image-filter-contrast {
  filter: contrast(20%);
}

.card-image-filter-blur {
  filter: blur(3.2rem);
}

.card-image-filter-opacity {
  filter: opacity(0.8);
}

.card-image-filter-grayscale {
  filter: grayscale(0.8);
}

.card-image-filter-saturate {
   filter: saturate(158%);
}

.card-image-filter-sepia {
  filter: sepia(80%);
}

.card-image-filter-invert-contrast-brightness {
   filter: invert(0.7) sepia(1) contrast(2) brightness(200%);;
}


.box-image {
  position: relative;
  display: grid;
  width: 100%;
  border-bottom: 2px solid var(--main-color, #000);
  border-top: none;
  background-color: #fff;

}

.label {
  font-family: var(--accent-font, 'PressStar2P');
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  right: 25px;
  top: 19px;
  text-shadow: 0 0 1px var(--background-color, #fff);
  

}

@supports((text-stroke: var(--stroke-color, #FFFFFF)) or (-webkit-text-stroke: 1px var(--stroke-color, #FFFFFF))) {
  .label {
    -webkit-text-stroke: 1px var(--stroke-color, #FFFFFF);
    text-shadow: none;
  }
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
font-family: var(--main-font, 'Inter-Variable'),sans-serif;
font-style: normal;
font-variation-settings: 'wght' var(--font-main-weight, 410);
font-size: 18px;
line-height: 117%;
color: var(--main-color, #000);
padding: 25px;
}

.buttons {
  align-self: flex-end;
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
}

.button {
 color: var(--main-color, #000);
  background-color: var(--background-color, #fff);
  border: 2px solid var(--main-color, #000);
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
} 


.card__like-button {
  height: 36px;
  padding: 0;
  min-width: 130px;
  min-height: 38px;
}

.button__text {
font-family: var(--accent-font,'PressStar2P'), sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 90%;
color: var(--stroke-color, #fff);
mix-blend-mode: difference;
position: relative;
z-index: 2;
align-self: center;
}


.save-icon {
  
  mix-blend-mode: difference;
   position: relative;
  z-index: 2;
  align-self: center;
}

/*

.footer {
  padding: 52px 182.5px 100px;
}
*/

.button_save {
  display: flex;
  min-width: 335px;
  min-height: 55px;
  justify-content: center;
  gap: 8px;
  max-width: 335px;
  margin-block-end: 100px;
  margin-inline-start: auto;
  margin-inline-end: auto;


}


.dialog-save {
  position: fixed;
  inset: 0;
  margin: auto;
  background-color: var(--background-color, #fff);
  border: 2px solid var(--main-color, #000);
  padding: 0;
}

.form-dialog {
  display: grid;
  padding: 30px;
  max-width: 353px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "icon text"
    "butt butt";
  gap: 30px 20px;
}

.dialog-save:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.dialog-save .save-icon {
  grid-area: icon;
  width: 39px;
  height: 39px;
}

.dialog-save .button {
  grid-area: butt;
  padding: 12.5px 132.5px;
  text-transform: uppercase;
  max-height: 38px;
  max-width: 293px;
}

.doalog-text {
  color: var(--main-color, #000);

  font-family: var(--accent-font, 'PressStar2P');
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  
  text-transform: uppercase;
  grid-area: text;
  max-width: 234px;
}

.dialog-save::backdrop {
  opacity: 0.75;
  background: #000;
}

.card__icon-button {
  border: none;
  background-color: var(--background-color, #fff);
  transition: 0.3s ease;
  cursor: pointer;
  width: 38px;
  height: 38px;
}


/* 
.like-icon {
  position: relative;
 left: -5px;   /* возможно тут нужно как-то подругому выровнить свн внутри кнопки
}
*/


.button:focus, .card__icon-button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--main-color, #000);
  transition: 0.3s ease;
}



.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color, #000);
  transition: 0.3s ease;
}


.button::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--main-color, #000);
  transform-origin: 0 0;
  transition: 0.5s ease-in-out;
  transform: scale(0,1);
}

.button:hover::before {
  transform: scale(1,1);
  transition: 0.5s ease-in-out;
}

.button:hover {
  color: var(--background-color, #fff);
  border: 2px solid var(--main-color, #000);
}


@media (width <= 376px) {



    .button_save {
    
    flex-direction: column;
    gap: 8px;
    max-width: 306px;
    min-width: 306px;
    min-height: 84px;
    justify-content: center;
    align-items: center;
    
  }

  
  .save-icon {
    width: 28px;
    height: 28px;
  }


  .form-dialog {
    padding: 30px 40px;
    max-width: 341px;
  }

  .dialog-save .button {
  padding: 12.5px 116.5px;
  
  max-width: 261px;
}
  
}


/* СТИИЛИ ДЛЯ РЕАЛИЗАЦИИ анимации КНОПКИ с сердечком*/


.sparks {
  opacity: 0;
}


.contour {
  fill: var(--main-color, #000);
  transition: fill 0.1s linear;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.card__icon-button:hover .core {
  fill: var(--main-color, #000);
  transition: fill 0.3s linear;
}


.main-body {
  transition: fill 0.3s 0s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--main-color, #000);
  transition: fill 0.3s 0.05s linear;
}



.card__icon-button:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;

}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}


.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: sizeBigger 0.3s 0.1s ease-in 1 alternate;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: appearSparks 0.3s 0.3s ease-in 1 alternate;
  transform-origin: 50%;
}




