/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font),sans-serif;
  font-variation-settings: 'wght' var(--font-main-weight);
  background-image: var(--fon);
  background-attachment: fixed;
  background-size: cover;
} 

.header {
  
  
  background-color: #ffffff;
  margin-block-start: 100px;
  margin-block-end: 100px;
  padding: 130px 122.5px;
  border: 2px solid #000;
  margin-block-end: 98px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
margin-left: auto;
margin-right: auto;
width: clamp(375px, 100%, 700px);
}

.logo {
  font-weight: 400;
font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem); /* 65px узнать как пользоваться!!  clamp(2.722rem, 2.409rem + 1.502vi, 3.611rem);   */
text-transform: uppercase;
color: var(--main-color, #000);
font-family: var(--accent-font), sans-serif;
text-decoration: none;
text-align: center;

}

.main-tittle {
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
text-transform: uppercase;
color: var(--main-color, #000);
text-align: center;


}


.cards {

display: flex;
flex-direction: column;
gap: 52px;
}



.card {
  background-color: var(--background-color, #fff);

}

.card-title {
  background-color: var(--background-color, #fff);
font-weight: 715;
font-size: 18px;
color: var(--main-color, #000);
font-family: var(--main-font),sans-serif;
font-style: normal;
font-variation-settings: 'wght' var(--font-title-weight);
line-height: normal;
padding: 4px 10px 6px 10px;
border: 2px solid var(--main-color, #000);
 font-size: 18px;
}


.card-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: right;
  mix-blend-mode: hard-light;
  aspect-ratio: 1 / 1;  

}




.box-image {
  position: relative;

   display: grid;
  width: 100%;
  /* aspect-ratio: 1 / 1; */
  border: 2px solid var(--main-color);
  border-top: none;
  background-color: #fff;

}

.label {
    font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  right: 25px;
  top: 19px;
  text-shadow: 0 0 1px var(--background-color);
  /* opacity: 0.5; */

}




.card-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
font-family: var(--main-font),sans-serif;
font-style: normal;
font-variation-settings: 'wght' var(--font-main-weight);
font-size: 18px;
line-height: 117%;
color: var(--main-color, #000);
padding: 25px;
}

.buttons {
align-self: flex-end;
}

.button {
 color: var(--main-color);
  background-color: var(--background-color);
  border: 2px solid var(--main-color);
  cursor: pointer;
} 

.card__like-button {
  background-color: var(--background-color);
  height: 36px;
  cursor: pointer;
  padding: 0;
  min-width: 130px;
  min-height: 38px;
}

.button__text {
font-family: var(--accent-font), sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 90%;
color: var(--main-color, #000);
}


.footer {
  padding: 52px 182.5px 100px;
}

.button_save {
  min-width: 335px;
  min-height: 55px;
}